USE [master]
GO
/****** Object:  Database [PMA_SFAdb]    Script Date: 7/16/2021 12:08:26 PM ******/
CREATE DATABASE [PMA_SFAdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PMA_SFAdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PMA_SFAdb]
GO
/****** Object:  Table [dbo].[log]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log](
	[timePass] [datetime] NOT NULL,
	[date] [date] NOT NULL,
	[taskIdWork] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[Id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](250) NOT NULL,
	[ownerId] [int] NOT NULL,
	[taskId] [int] NULL,
 CONSTRAINT [PK_project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projectTeams]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projectTeams](
	[teamId] [int] NOT NULL,
	[projectId] [int] NOT NULL,
 CONSTRAINT [PK_projectTeams] PRIMARY KEY CLUSTERED 
(
	[teamId] ASC,
	[projectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](250) NOT NULL,
	[projectId] [int] NULL,
	[recipient] [int] NOT NULL,
	[lastModified] [datetimeoffset](7) NOT NULL,
	[status] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[team]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[contributors] [int] NOT NULL,
 CONSTRAINT [PK_team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nchar](10) NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[isAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usersTeams]    Script Date: 7/16/2021 12:08:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usersTeams](
	[Id] [int] NOT NULL,
	[userId] [int] NOT NULL,
	[teamId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD  CONSTRAINT [FK_project_user] FOREIGN KEY([ownerId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[project] CHECK CONSTRAINT [FK_project_user]
GO
ALTER TABLE [dbo].[projectTeams]  WITH CHECK ADD  CONSTRAINT [FK_projectTeams_project] FOREIGN KEY([projectId])
REFERENCES [dbo].[project] ([Id])
GO
ALTER TABLE [dbo].[projectTeams] CHECK CONSTRAINT [FK_projectTeams_project]
GO
ALTER TABLE [dbo].[projectTeams]  WITH CHECK ADD  CONSTRAINT [FK_projectTeams_team] FOREIGN KEY([teamId])
REFERENCES [dbo].[team] ([Id])
GO
ALTER TABLE [dbo].[projectTeams] CHECK CONSTRAINT [FK_projectTeams_team]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_project] FOREIGN KEY([projectId])
REFERENCES [dbo].[project] ([Id])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_project]
GO
ALTER TABLE [dbo].[usersTeams]  WITH CHECK ADD  CONSTRAINT [FK_usersTeams_team] FOREIGN KEY([teamId])
REFERENCES [dbo].[team] ([Id])
GO
ALTER TABLE [dbo].[usersTeams] CHECK CONSTRAINT [FK_usersTeams_team]
GO
ALTER TABLE [dbo].[usersTeams]  WITH CHECK ADD  CONSTRAINT [FK_usersTeams_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[usersTeams] CHECK CONSTRAINT [FK_usersTeams_user]
GO
USE [master]
GO
